In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import sqlalchemy
from sqlalchemy import create_engine

In [4]:
covid_data_to_load = "../raw_data/owid-covid-data.csv"
covid_df_raw = pd.read_csv(covid_data_to_load)
covid_df_raw

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66962,ZWE,Africa,Zimbabwe,2021-02-01,33548.0,160.0,271.714,1234.0,17.0,22.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66963,ZWE,Africa,Zimbabwe,2021-02-02,33814.0,266.0,258.571,1254.0,20.0,21.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66964,ZWE,Africa,Zimbabwe,2021-02-03,33964.0,150.0,237.143,1269.0,15.0,21.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66965,ZWE,Africa,Zimbabwe,2021-02-04,34171.0,207.0,217.857,1288.0,19.0,18.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66966,ZWE,Africa,Zimbabwe,2021-02-05,34331.0,160.0,197.000,1303.0,15.0,17.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [8]:
covid_df = covid_df_raw[['location', 'date', 'new_cases', 'new_deaths']]
covid_df

          location        date  new_cases  new_deaths
0      Afghanistan  2020-02-24        1.0         NaN
1      Afghanistan  2020-02-25        0.0         NaN
2      Afghanistan  2020-02-26        0.0         NaN
3      Afghanistan  2020-02-27        0.0         NaN
4      Afghanistan  2020-02-28        0.0         NaN
...            ...         ...        ...         ...
66962     Zimbabwe  2021-02-01      160.0        17.0
66963     Zimbabwe  2021-02-02      266.0        20.0
66964     Zimbabwe  2021-02-03      150.0        15.0
66965     Zimbabwe  2021-02-04      207.0        19.0
66966     Zimbabwe  2021-02-05      160.0        15.0

[66967 rows x 4 columns]